.container {
  padding-top: 2rem;
}

.list {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links__container {
  z-index: 3;
  position: absolute;
  top: 6rem;
  width: calc(100% - 4rem);
  background-color: var(--white);
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease-in-out;
}

@media (min-width: 800px) {
  .links__container {
    width: initial;
    position: initial;
    opacity: 1;
    visibility: visible;
    display: flex;
    background-color: initial;
  }
}
